/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  position: fixed;
  width: 100%;
  background-color: #252c34;
  top: 0;
  z-index:1;
}
.header_box {
  width=100%;
  height: 100px;
  background-color: #252c34;
  border: solid 1px #252c34;
}
.header_name {
  display:block;
  width: 100%;
  background-color: #252c34;
}
.header_options {
  display:block;
  width: 100%;
  background-color: #252c34;
  text-align:right;
}
.header_name h1 {
  font-size: 400%;
  background-color: #252c34;
  padding-left: 80px;
  padding-top: 12px;
}
.header_options h2 {
  display: inline;
  text-decoration: none;
  background-color: #252c34;
  padding-right: 25px;
  padding-bottom: 5px;
  padding-top: -2px;
}
.header_options h3 {
  display: inline;
  text-decoration: none;
  background-color: #252c34;
  padding-right: 10%;
  padding-bottom: 5px;
  padding-top: -2px;
}
.header_name h1 a {
  text-decoration: none;
  color:black;
  background-color: #252c34;
  color: #7f73b5;
}
.header_options h2 a {
  display: inline;
  text-decoration: none;
  background-color: #252c34;
  color: #ffffff;
}
.header_options h3 a {
  display: inline;
  text-decoration: none;
  background-color: #252c34;
  color: #ffffff;
}

.midbar {
  background-color: white;
  overflow:hidden;
  text-align: left;
  margin-top:120px;
  margin-left:10%;
  margin-right:10%;
  margin-bottom:30px;
  padding: 40px 50px 30px 40px;
  opacity:0.8;
}

.backstretch {
left: 0px;
top: 0px;
overflow: hidden;
margin: 0px;
padding: 0px;
height: 401px;
width: 1263px;
z-index: -999999;
position: fixed;
}

#bg {
position: fixed;
margin: 0px;
padding: 0px;
width: 100%;
height: 100%;
max-height: none;
max-width: none;
z-index: -999999;
left: 0px;
}

.page_footer {
  text-align:center;
  width: 100%;
  background-color: #252c34;
}

.footer_box {
  width=100%;
  height: 40px;
  background-color: #252c34;
  border: solid 1px #252c34;
  padding-top:15px;
}

.page_footer h1 {
  text-align:center;
  display:inline;
  color: #ffffff;
  font-size:12px;
}

.page_footer h1 a {
  display: inline;
  background-color: #252c34;
  color: #ffffff;
  font-size:12px;
}

